<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="banner">ASP.NET MVC DEMO </div>
    <div class="menu">
        <a href="/Course/Index">Course Details</a>
        <a href="/Course/List">List Of Courses</a>
    </div>
    <p></p>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)
</body>
</html>
